.introduction-section {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .introduction-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Black overlay with 50% opacity */
  }
  
  .introduction-section .container {
    position: relative; /* This ensures the content is above the overlay */
    z-index: 1;
  }
  .container{
    height: 100%;
    width: 100%;
  }
  


  